@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background: #f2f2f2;
    margin: 0;
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.navbar {
    margin-bottom: 40px;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3d9fe0;
    }

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li .active {
    background-color: #45aef5;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page-header {
    margin-bottom: 0;
}

.navbar li a:hover {
    background-color: #45aef5;
}

.account-list__container {
    margin-bottom: 50px;
}

.account-list__account-card {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
    padding: 15px 15px;
    margin: 3px 0;
    background: white;
    text-overflow: ellipsis;

}

.account-list__account-card__account-info {
    width: 30%;
    border-right: 1px dashed #c9c9c9;
    display: inline-block;
}

.account-list__account-card__account-balance {
    display: inline-block;
    border-right: 1px dashed #c9c9c9;
    width: 30%;
    padding-left: 15px;
}


.account-list__account-card h2, h3, h4, h5 {
    margin-bottom: 0px;
}